.mt-1 {
  margin-top: 1em;
}

.mt-3 {
  margin-top: 3em !important;
}

.mb-3 {
  margin-bottom: 3em;
}

.ml-3 {
  margin-left: 3em !important;
}

.hide {
  display: none !important;
}

.ui.button.floating-button {
  padding: 0px;
  width: 60px;
  height: 60px;
  border-radius: 100%;
  position: absolute;
  bottom: 30px;
  right: 30px;
  background-color: var(--amplify-primary-color);
  color: var(--amplify-secondary-contrast);
}

.ui.button.floating-button:hover {
  background-color: var(--amplify-secondary-contrast);
  color: var(--amplify-primary-color);
}

.floating-button-icon {
  margin: 0px !important;
  padding: 0px !important;
}

.ui.dimmer {
  padding: 0 !important;
}